name: update_image

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 1 * * *'
  workflow_dispatch:

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  update_image:
    # Name the Job
    name: update image from bing.com
    # Set the type of machine to run on
    runs-on: macos-latest
    timeout-minutes: 2

    steps:
      # Checks out a copy of your repository
      - name: Checkout code
        uses: actions/checkout@v2
      - name: fetch an image from bing.com
        run: ./bing-wallpaper.sh -p images
      - uses: EndBug/add-and-commit@v7
        with:
          message: 'update image from bing.com'
          add: '*.jpg'